<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>UK Property API</title>
  </head>
  <body>
    <div class="container first-container">
      <div class="first-container-text">
        <h1>UK Property API</h1>
        <p>
          Access details for almost half a million properties currently listed
          for sale on the UK property market
        </p>
      </div>
    </div>

    <div class="container second-container">
      <div class="key-features">
        <h3 class="feature-header feature">140</h3>
        <p class="feature-paragraph feature">cities/towns across england, scotland, wales and northern island</p>
        <h3 class="feature-header feature">10</h3>
        <p class="feature-paragraph feature">query parameters, allowing for highly targeted searches</p>
        <h3 class="feature-header feature">< ></h3>
        <p class="feature-paragraph feature">
          open source code base, allowing for customisations and improvements
        </p>
      </div>
    </div>
  </body>
</html>
