<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UK Property API</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="intro-container">
      <h1>UK Property API</h1>
      <h2>Access details for almost half a million properties currently listed for sale on the UK
        property market</h2>
    </div>

    <div class="key-features-container">
      <li>>140 towns across england, scotland, wales and northern island</li>
      <li>10 query parameters, allowing for highly specific searches</li>
    </div>
  </body>
</html>
