h3 {
  color: #8e54e9;
  font-size: 4rem;
  margin: 0;
}

p {
  color: #4776e6;
}

body {
  margin: 0;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.intro-container {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding: 50px 15%;
  background: linear-gradient(to right, #4776e6, #8e54e9);
}

.key-features-container {
  font-size: 1.5rem;
  text-align: center;
  padding: 50px;
  width: 75%;
  margin: auto;

  display: grid;
  grid-template-columns: 20% 80%;
}

.try-it-out-container {
  padding: 50px 15%;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  background-color: #8e54e9;

}

.try-it-out-results-container {
  display: none;
}

.try-it-out-results-container p {
  color: black;
  font-size: 1rem;
  word-break: break-all;
  background-color: white;
  padding: 5px;
}
