
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #8e54e9;
  --secondary-color: #ffffff;
  --tertiary-color: #4776e6;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  color: var(--secondary-color);
  background: linear-gradient(to right, var(--tertiary-color), var(--primary-color));
}

h1 {
  font-size: 3rem;
}

p, h2 {
  font-size: 2rem;
}

.first-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .first-container {
    height: 50%;
  }
}

.first-container-text {
  width: 75%;
  max-width: 900px;
}

.second-container {
  width: 100%;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.key-features {
  max-width: 800px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  
}

.key-features h3 {
  font-size: 4rem;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .feature-header {
    flex-basis: 20%;
  }

  .feature-paragraph {
    flex-basis: 80%
  }
}

.third-container {
  padding: 30px 10px;
}

form {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.form-label {
  flex-basis: 20%;
}

.form-input {
  flex-basis: 80%;
}

#radius-label {
  flex-basis: 10%;
}

#radiusvalue {
  flex-basis: 5%;
}

.footer-container {
  padding: 40px 0;
}

.footer-container a {
  text-decoration: none;
  color: var(--secondary-color);
}